
body {
    font-family: 'Open Sans', sans-serif;
    /*font-size: 11pt;
    background-color: #C0F0C0;
    text-color: #000000;*/

    width: calc(100% - 6px);
    margin: 0 3px;
}

input,
select,
button {
    /*color: #fff;
    background-color: #666666;*/
    /*border: 1px solid black;*/
    border-width: 1px;
    padding: 1px 4px;
}

button:active {
    background-color: #444444;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: #4B1559;
}

.notice {
    border: 1px solid #333;
    background-color: #9f9;
    padding: 2px;
}

.error {
    border: 1px solid #333;
    background-color: #f99;
    padding: 2px;
}


#content {
    float: left;
    overflow: auto;
    width: 100%;
}

#user-nav {
    float: right;
}

#side-nav {
}

#world-chat {
    width: 100%;
}

#world-logs {
    font-size: 0.8em;
    background-color: #DDDDDD;
    /*border: 1px solid #235915;*/
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;

    overflow: auto;
    height: 15em;

    list-style-type: none;
}

#world-input-div button {
    margin-top: 4px;
    width: 6ex;
}

#world-input {
    width: calc(100% - 6ex - 10px);
}

#world-area {
    margin: 0px auto;
    margin-bottom: 1em;
}

.viewbox {
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
    margin-top: 4px;
}

.viewbox textarea,.viewbox input[type="text"] {
    width: calc(100% - 4px);
}

.viewbox-expand {
    font-size: 0.6em;
    float: right;
}

.column-toggle {
    display: none;
}

@media screen and (min-width: 1000px) {
    body {
        width: auto;
        max-width: 1400px;
        margin: 0px auto;
        padding: 4px;
    }

    #content {
        /*width: 600px;*/
        width: 100%;
    }

    #side-nav {
        /*display: block;*/
    }

    #world-chat.column-view {
        display: inline-block;
        width: 60%;
    }

    #world-logs {
        height: 40em;
    }

    #world-area.column-view {
        float: right;
        width: calc(40% - 4px);
        height: 100%;
        margin-left: 4px;
    }

    #world-area.column-view .viewbox {
        margin-top: 0px;
    }

    #world-area.column-view .viewbox + .viewbox {
        margin-top: 4px;
    }

    .column-toggle {
        display: block;
        float: right;
    }
}


.form-item {
    margin-bottom: 4px;
}

.form-item label {
    display: block;
}

.form-item.inline {
    display: flex;
    width: 100%;
}

.form-item.inline label {
    display: inline-block;
    width: 8em;
}

.form-table {
    width: auto;
}

.form-table td {
    white-space: nowrap;
    overflow: hidden;
}

.form-table td:last-child {
    width: 100%;
}

.form-table .option-info {
    white-space: normal;
    overflow: auto;
    padding: 2px;
}


.column-display > * {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

.tinylabel {
    font-size: 0.6em;
}

.small-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    /*background-image: url("/assets/img/icons.png");
    background-position: -32px -64px;*/
}

img.image-preview {
    width: auto;
    height: auto;
    border: 1px solid black;
    vertical-align: middle;

    min-width: 0 !important;
    min-height: 0 !important;
    max-width: 128px !important;
    max-height: 128px !important;

}

img.image-preview.big {
    max-width: 256px !important;
    max-height: 256px !important;
}

.slide-down {
    overflow-y: hidden;

    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
}


.flash {
    animation: fade-in 1.5s;
}

@keyframes fade-in {
    from { background-color: #f00; }
    to { }
}

