
#world-area .viewbox:not(.styled) .title {
    color: purple;
}

#world-area .viewbox:not(.styled) .description {
    color: green;
}

#world-logs .status {
    color: magenta;
}

#world-logs .chat {
    color: blue;
}

#world-logs .shout {
    color: red;
}

#world-logs .action {
    color: green;
}

#world-logs .attack {
    color: yellow;
}

#world-logs .defense {
    color: red;
}

